@using CoreFundamental.Core
@model Restaurant

<div class="card">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-body">
        <span>Location: @Model.Location</span>
        <span>Cuisine: @Model.Cousin</span>
    </div>
    <div class="card-footer">
        <a class="btn-lg"
           asp-page="./Detail"
           asp-route-restaurantId="@Model.Id">
            <i class="fa fa-cog"></i>
        </a>
        <a class="btn-lg"
           asp-page="./Edit"
           asp-route-restaurantId="@Model.Id">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn-lg"
           asp-page="./Delete"
           asp-route-restaurantId="@Model.Id">
            <i class="fa fa-trash-alt"></i>
        </a>
    </div>
</div>
<br />